<h1 class="font-weight-bold text-center mb-5">投稿一覧</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <%= render partial: "maps_info_card" %>
  </div>
</div>

<%= link_to 'New Map', new_map_path %>