<div class="container">
    <div class="text-center">
      <%= render partial: "/shared/search_form/title" %>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3" id="items" >
            <%= render partial: "shared/maps/list_card" %>
          </div>
        </div>
      <%= link_to 'New Map', new_map_path %>
    </div>
</div>
