<div>
    <div>
        <div>
            <h1>新しく投稿する</h1><br>
                <p>1. スポットを検索しよう！<br>2. 地図上にマーカーを落として住所を決定！</p><br>
                    <form onsubmit="return false;">
                            <input type="text" value="東京　スケートパーク" id="address"><br>
                            <%= button_tag type: 'submit', id: "map_button", class: 'btn btn-warning mb-1' do %>
                                <i></i>
                            <% end %><br>
                    </form>
                        <!-- 地図を表示させる要素 -->
                        <div>
                            <div id='initmap'></div>
                        </div><br>
                            <%= render "shared/google_api/postmap" %>
                            <%= render "shared/maps/form", map: @map %> <br>
                            <%= link_to 'Back', maps_path %>
        </div>
    </div>
</div>