@import "~bootstrap/scss/functions";
@import "variables-custom";

#initmap{
    height: 350px;
    width:  700px;
    margin-top:15px;
}

#routemap{
    height: 350px;
    width:  700px;
    margin-top:15px;
}

.post-picture{
    width:250px;
    height:auto;
    border-radius: 5px;
}

//ボタンのデフォルト
.clear-button{
  background:none;
  border:none;
}

//イイねぼたん
.heart_red{
  color: red;
}

.heart_grey{
  color: grey;
}




