@import "~bootstrap/scss/functions";
@import "googlemap/size";



.post-picture{
    width:250px;
    height:auto;
    border-radius: 5px;
}

//ボタンのデフォルト
.clear-button{
  background:none;
  border:none;
}

//イイねぼたん
.heart_red{
  color: red;
}

.heart_grey{
  color: grey;
}

.follow_green{
  color: green;
}

.unfollow_grey{
  color: grey;
}

.grey{
  background-color: grey;
  height:500px;
}

.blue{
  background-color: blue;
  height:500px;
}

