
//primary
$blue: #8651bb;
//sevondary
$gray-600: #e8ffed;
//success
$green: #cf0;
//info
$cyan: #ccf;
//warning
$yellow: #fc0;
//danger:
$red: #c66;
//light
$gray-100: #fff;
//dark
$gray-800: #333;


$jumbotron-bg: #e8ffed;
//
$text-muted: black;

