<%# 未ログイン、いいねボタン非表示 %>
<% if user_signed_in? %>
  <%# unless: 現在ログインしているユーザーが投稿しているコンテンツには、いいねボタン非表示 %>
  <% unless current_user == post.user %>
      <%# if: いいねがついている状態のボタン %>
      <div id="request_ajax_update" >
        <% if Like.find_by(user_id: current_user.id, map_id: post.id) %>
            <%= button_to map_like_path(post.id, @maps), remote: true, method: :delete, class: "clear-button" do %>
              <i class="fas fa-heart fa-lg heart_red"></i>
            <% end %>
        <%# if: いいねがついていない状態のボタン %>
        <% else %>
            <%= button_to map_likes_path(post.id), remote: true, method: :post, class: "clear-button" do %>
              <i class="far fa-heart fa-lg"></i>
            <% end %>
        <% end %>
      </div>
  <% else %>
    <div>
      <p class="font-xs">your post!</p>
    </div>
  <% end %>
<% else %>
    <div>
      <i class="fas fa-heart heart_red"></i>
    </div>
<% end %>