<%# 検索フォームで抽出されたtitleカラムを持つ要素を表示%>
  <% @search_feeds.each do |r| %>
    <div class="col mb-4">
      <div class="card border-0">
        <div class="card-body">
          <%= link_to r.name, user_path(@q, :'id' => "#{r.id}") %>
          <%= image_tag r.image.url, class: "card-img-top border rounded-circle border-dark" %>
        </div>
      </div>
    </div>
  <% end %>