<h1>ユーザー検索</h1>
  <div>
    <% if @search_feeds.any? %>
      <div>
        <%= render partial: "/shared/search_form/user_name_cont" %>
          <div id="items">
              <%= render partial: 'users/users_card', collection: @search_feeds, as: "feed" %>
          </div>
        <%= link_to_next_page @search_feeds, 'つづきを見る', remote: true, id: 'more_link' %>
      </div>
    <% else %>
          <div>
            <%= render'/shared/search_form/user_name_cont' %>
                <p>エラー</p>
          </div>
    <% end %>
  </div>