<h1 class="font-weight-bold text-center mb-5">ユーザー検索</h1>

<%= render'/shared/search_form_user' %>

<div class="container">
    <% @search_feeds.each do |result| %>
      <%= render partial: 'users', collection: @search_feeds %>
      <%= link_to result.name, user_path(@q, :'id' => "#{result.id}") %>
    <% end %>
</div>
