<h1 class="font-weight-bold text-center mb-5">ユーザー検索</h1>
    <%= render'/shared/search_form_user' %> <br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <%= render partial: 'users_info_card' %>
    </div>
</div>

<div id="items">
    <%= render partial: 'users', locals: { user: @users } %>
</div>

<%= link_to_next_page @users, 'つづきを見る', remote: true, id: 'more_link' %>