<div class="main user-show">
  <div class="container">
    <div class="user">
      <!-- 以下で、ユーザー名を出力してください -->
      <h2><%= @user.name %></h2>
      <!-- 以下で、メールアドレスを出力してください -->
      <p><%= @user.email %></p>

      <% if user_image_valid? %>
        <%= image_tag @user.image.url %>
      <% else %>
        <%= image_pack_tag 'media/images/no-image.jpg' %>
      <% end %>

    </div>
  </div>
</div>