<hr>
<footer class="footer">
  <div class="logo">
    <span><%= link_to image_pack_tag("media/images/logo.svg", size: "50"), root_path, class: "logo__img" %></span>
    <span><%= link_to "skate_" , root_path , class: "logo__skate" %></span>
    <span class="logo__spot"><%= link_to "spot_" , root_path , class: "logo__spot" %></span>
    <span class="logo__search"><%= link_to "search" , root_path , class: "logo__search" %></span>
  </div>
  <nav class="footer__nav">
      <ul class="footer__ul">
        <li class="footer__li">let's enjoy!</li>
        <li class="footer__li">skateboard life!</li>
      </ul>
      <div class="footer__copyright">
        &copy; 2020 UechiKohei
      </div>
  </nav>
</footer>