<header>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/"><%= image_tag 'sss.logo.png' %></a>
  <a class="navbar-brand" href="home/about">about</a>

  </div>
</nav>

</header>