<div class="text-center mt-2">
    <%= search_form_for @key do |f| %>
        <%= f.search_field :address_cont, placeholder: '名前を入力...' %>
        <%= button_tag type: 'submit', class: 'btn btn-warning mb-1' do %>
            <i class="fas fa-search"></i>
        <% end %>
    <% end %>
</div>