  <main>
    <section class="first-content">
      <div class="card-container">
        <div class="card">
          <div class="card-image"></div>
          <div class="card-info">
            <div class="card-title">タイトルがくる</div>
            <div class="card-detail">本文を表示させる（400字以内）</div>
          </div>
          <div class="card-social">
            <ul>
              <li><i class="fa fa-comment-o"></i></li>
              <li><i class="fa fa-heart-o"></i></li>
              <li><i class="fa fa-share-alt"></i></li>
            </ul>
          </div>
        </div>
      </div>






      <div>
        <h2 class="main-title">地図から探す</h2>
        <p class="sub-title">お気に入りのスポットを探しましょう</p>
      </div>
      <div class="googlemaps__inner">
        <div class="googlemaps__item">
        <div class="googlemaps__title">登録スポットを探す</div>
        </div>
      </div>
          <%= link_to destroy_user_session_path, class: "btn-cubic", method: :delete do %>
            <span class="hovering">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span class="default">
              ログアウト
            </span>
          <% end %>
    </section>
  </main>

<%# <button class="btn float">Button</button>
<button class="btn filled">Button</button>
<button class="btn letter-spacing">Button</button>
<button class="btn shadow">Button</button>
<button class="btn solid">Button</button>
<button class="btn slide-bg">Button</button>
<a class="btn-cubic"><span class="hovering">Now, Hovering</span><span class="default">Button</span></a> %>