<div class="text-center">
    <h1 class="font-weight-bold">スケボーをしよう！</h1>
    <p>あなたの、みんなの、スポットをシェアしよう！</p>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
</div>
<%= render'/shared/search_form' %>
