<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      これは {home/about} ページです。
      <br>
      <br>
      無事起動確認できた

    </h1>
    <br>
    <br>
  </div>
</div>
