.btn {
  position: relative;
  display: inline-block;
  background-color: $cWhite;
  border: 1px solid $cBlack;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: $cBlack;
  text-decoration: none !important;

  &.float:hover {
    background-color: $cBlack;
    color: $cWhite;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  }

  &.filled {
    background-color: $cBlack;
    color: $cWhite;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $cWhite;
      color: $cBlack;
      box-shadow: none;
    }
  }

  &.letter-spacing:hover {
    background-color: $cBlack;
    letter-spacing: 3px;
    color: $cWhite;
  }

  &.shadow {
    box-shadow: none;

    &:hover {
      transform: translate(-2.5px, -2.5px);
      box-shadow: 5px 5px 0 0 $cBlack;
    }
  }

  &.solid {
    box-shadow: 2px 2px 0 0 $cBlack;
    border-radius: 7px;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: none;
    }
  }

  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $cBlack;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: -1;
    }

    &:hover {
        color: $cWhite;

        &::before {
            transform: none;
        }
      }
    }
  }

.btn-cubic {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    font-weight: 600;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $cBlack;
      line-height: 48px;
      text-align: center;
      transition: all 0.3s;
      transform-origin: center center -25px;
    }

    & .hovering {
      background-color: $cBlack;
      color: $cWhite;
      transform: rotateX(90deg);
    }

    & .hovering-danger {
      background-color: $cRed;
      color: $cWhite;
      transform: rotateX(90deg);
    }

    & .default {
      background-color: $cWhite;
      color: $cBlack;
      transform: rotateX(0);
    }

    &:hover {
      & .hovering {
        transform: rotateX(0);
      }
      & .hovering-danger {
        transform: rotateX(0);
      }
      & .default {
        transform: rotateX(-90deg);
      }
    }
  }

.btn-mini {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;
    text-decoration: none !important;

    &.slide-bg {
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: $cGrotto;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: transform 0.5s;
          z-index: -1;
      }

      &:hover {
          color: $cWhite;
          border: none;
          &::before {
              transform: none;
          }
        }
      }
  }

//ボタンのデフォルト
.clear-button{
  background-color:rgba(0, 0, 0, 0);
  border: none;
}

//イイねぼたん
.heart_red{
  color: $cRed;
}

.heart_white{
  color: $cWhite;
}

.follow_green{
  color: $cTeal;
}

.unfollow_white{
  color: $cWhite;
}
