.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-label {
  color: White;
  background: LightGray;
  margin-right: 5px;
  padding: 3px 12px;
  order: -1;
}
.tab-content {
  width: 100%;
  display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
  display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}