.link_to_text_wh {
  color: $cWhite;
  &:hover{
    color: $cMimosa;
  }
}

.link_to_text_bk {
  color: $cBlack;
  &:hover{
    color: $cGrotto;
  }
}

.text_danger{
  color: $cRed;
}
.text_info{
  color: $cGrotto;
}

/* マーカー線・青 */
.markerB{
  background: linear-gradient(transparent 75%, #c1e0ff 75%);
  font-weight: bold;
}

/* マーカー線・黄色 */
.markerY{
  background:linear-gradient(transparent 75%, #fff799 75%);
  font-weight:bold;
}

h1:first-letter {
  font-size: 2em;
  color: $cBrunt;
}
//flashメッセージ
.message {
  color: $cWhite;
  text-align: center;
  .notice {
    background-color: $cGrotto;
  }

  .alert {
    background-color: $cRed;
  }
}

.box17{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-align: center;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0;
  padding: 0;
}