$cWhite: white;
$cBlack: black;
$cGrey: #c4c4c4;
$cBrown: #672901;
$cRed: #D41E00;
$cTeal: #008080;
$cBrunt: #e97451;
$cGrotto: #0476d0;
$cGrottoLight: #DAEEF6;
$cMimosa: #FEEBA0;
$cCream: #fffdd0;
$contentMaxWidth: 1070px;
$navHeight: 100px;