<%# appication_controller.rbからrescue500メソッドによる呼び出されるpages %>
<div class="container-lg">
    <br>
    <div class="card text-center">
    <h2 class="card-header primary">エラーメッセージ</h2>
    <div class="card-body dark">
        <h1 class="card-title">500 Internal Server Error</h1>
        <p class="card-text">
        申し訳ございません。システムエラーが発生しました
        </p>
    </div>
    </div>
    <br>
</div>