<div class="container-lg">
    <br>
    <div class="card text-center">
    <h2 class="card-header primary">エラーメッセージ</h2>
    <div class="card-body dark">
        <h1 class="card-title">404 Not Found</h1>
        <p class="card-text">
        指定されたページは見つかりません。
        </p>
    </div>
    </div>
    <br>
</div>