<main>
  <div class="first-content">
    <div class="box18">
      <h1>お問い合わせのご確認。</h1>
        <h3><span class="marker"><%= @inquiry.name %>様、</span>お問い合わせいただきありがとうございました。</h3>
        <p>土日を除く、３日営業日以内に返信致します。よろしくお願いたします。</p>
    </div>
  </div>
</main>