/******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/

/* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
