/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

//margin-bottom
.mb-lg {
  margin-bottom: 150px !important;
}

//padding-bottom
.pb-lg {
  padding-bottom: 150px !important;
}

.map {
  height: 350px;
}