/******************************************************************

Stylesheet: 960px以上のモニタで適用[ipad pro]
******************************************************************/
.skatespotimage {
  overflow: hidden;
  &__resize {
    width: 373px;
    height: 210px;
  }
}

.show_card .card-body .Grid {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  &__c1{ //タイトル
    grid-column: 8 span;
    grid-row: 2 span;
  }
  &__c2{ //パークorストリート？
    grid-column: 4 span;
    grid-row: 1 span;
  }
  &__c3{ //ヘルメット？
    grid-column: 4 span;
    grid-row: 1 span;
  }
  &__c4{ //画像
    grid-column: 6 span;
    grid-row: 5 span;
  }
  &__c5{ //いいねボタン
    grid-column: 1 span;
    grid-row: 1 span;
  }
  &__c6{ //いいねした人数
    grid-column: 5 span;
    grid-row: 1 span;
  }
  &__c7{ //本文
    grid-column: 6 span;
    grid-row: 4 span;
  }
  &__c8{ //住所
    grid-column: 12 span;
    grid-row: 1 span;
  }
  &__c9{ //住所
    grid-column: 12 span;
    grid-row: 1 span;
  }
  &__font-s {
    font-size: 13px;
  }
  &__font-m {
    font-size: 15px;
  }
  &__font-l {
    font-size: 24px;
  }
  &__like-button {
    line-height: 43.7px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  &__like-msg {
    line-height: 43.7px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

//margin-bottom
.mb-lg {
  margin-bottom: 150px !important;
}

//padding-bottom
.pb-lg {
  padding-bottom: 150px !important;
}

.map {
  height: 650px;
}

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

