/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Oswald', 'Kosugi Maru', sans-serif;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

//margin-bottom
.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

//padding-bottom
.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}