/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Oswald', 'Kosugi Maru', sans-serif;
}

input{
  width: 250px;
}

ol{
  line-height: 2;
}

ul{
  list-style-type: none;
  line-height: 1.7;
}
.font-xs {
  font-size: 11px;
}
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

//margin-bottom
.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

//padding-bottom
.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.first-content {
  @extend .content-width;
}

.map{
  @extend .content-width;
  height: 300px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__search{
    color: $cRed;
  }
}

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
  }

  &__li {
    padding: 0;
    margin: 10px;
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}