<h2>Hello! <%= @resource.email %></h2>

<p>パスワードリセットのお知らせ</p>
<p>以下のリンクへアクセスし、新規パスワード(4字以上)を設定をお願いいたします。</p>
<p><%= link_to '新規パスワードを設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがない場合は、無視してください。</p>
<p>上記リンクへアクセス後、新規パスワードを設定しない限り変更されません。</p>
